{% extends "sitebase.html" %}
{% load static %}
{% block title %}
  <title>Plots of past 2 months of all Nodes</title>
  <meta http-equiv="refresh" content="30">
{% endblock %}
{% block content %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">

<br><br>
<div class="container">
    <h4 class="text-center">Graphical analysis</h4><br>
    <div class="flex" >
        {% for key, value in plots.items %} 
        {% autoescape off %}
        <h4 class="text-center">Graph for Node:{{key}}</h4>
        {{value}}
        <br>
        {% endautoescape %}
        {% empty %}
        <li>Sorry, we have no data to display.</li>

        {% endfor %}
     </div>>
</div>


{% endblock %}